.pagination {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

.yellow {
  background: #FFCCBC;
}
.green {
  background: #b9f6ca;
}
.red {
  background: #ff8a80;
}
.blue {
  background: #84ffff;
}
.darkBlue {
  background: #80d8ff;
}
.deepBlue {
  background: #448aff;
}